
@import './reset.scss';

// * {
//   box-sizing: border-box;
// }
// *:before,
// *:after {
//   box-sizing: border-box;
// }
// html, body{
// 	font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, 
//       "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", 
//       "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", 
//       "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
//   font-weight: normal;
//   font-size: 14px;
// 	width: 100%;
// 	height: 100%;
//   color: #000;
// }

// html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
//   margin: 0;
//   padding: 0;
// }
// a{
//   text-decoration: none;
// }

// h1, h2, h3, h4, h5, h6 {
//   font-weight: normal;
//   font-size: 100%;
// }
// i{
//   font-style: normal;
// }
// ol, ul, li {
//   list-style: none;
// }

// img {
//   border: none;
//   max-width: 100%;
// }

#root{
  min-height: 100%;
}


.fl{
  float: left;
}
.fr{
  float: right;
}

.clearfix {
  &::after{
		display: table;
		content: '';
		clear: both;
		overflow: hidden;
	}
}

.container {
  width: 1170px;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  /*1. 在超小屏设备的时候 768px以下      当前容器的宽度100%     */
  .container{
      width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px){
        /*2. 在小屏设备的时候   768px-992px    当前容器的宽度750px    */
        .container{
            width: 750px;
        }
    }
    @media screen and (min-width: 992px) and (max-width: 1200px){
        /*3. 在中屏设备的时候   992px-1200px   当前容器的宽度970px    */
        .container{
            width: 970px;
        }
    }
    @media screen and (min-width: 1200px){
        /*4. 在大屏设备的时候   1200px以上      当前容器的宽度1170px   */
        .container{
            width: 1170px;
        }
    }

.input-wrapper{
  width: 300px
}
.panel{
  padding: 40px 20px;
}