@import '../../assets/css/mixin.scss';

// .test{
//   // background: #000;
//   @include equalHeight()
// }

.article-list{
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  .art_title{
    cursor: pointer;
  }
  .art_detail{
    @include textEllipsis($line: 2);   
    margin: 5px 0;
    font-weight: bold;
    line-height: 32px;
    color: #666;
  }
}